# ignore Brave Chache Folder
# ignor BraveSoftware
BraveSoftware/.config/BraveSoftware/
# ignore  Chromium 
chromium/.config/chromium/
# Ignore log files
*.log
# Omit the .bash_history file 
.bash_history
.bash_logouts
