[Unit]
Description=Run wallpaper change hourly
Requires=changeBackground.service

[Timer]
; OnCalendar=*-*-* 00/1:00:00
OnCalendar=*:0/2
Persistent=true

[Install]
WantedBy=timers.target
