[Unit]
Description=Run wallpaper change hourly
Requires=changeBackground.service

[Timer]
; OnActiveSec=60m
OnActiveSec=30m
OnUnitActiveSec=30m

[Install]
WantedBy=timers.target
