[Unit]
Description=This is my service to change my background wallpaper with swaybg
Wants=changeBackground.timer
After=graphical-session.target

[Service]
Type=oneshot
ExecStart=/bin/sh %h/scripts/changeBackground.sh

[Install]
WantedBy=graphical-session.target
