[Unit]
Description= This is my service to change my background wallpaper with swaybg
After=graphical-session.target

[Service]
Type=oneshot
ExecStart=%h/scripts/changeBackground.sh
; Environment=DISPLAY=:0

[Install]
WantedBy=default.target
