[Unit]
Description=Change wallpaper hourly
Requires=changeBackground.service

[Timer]
OnActiveSec=2m
OnUnitActiveSec=2m

[Install]
WantedBy=timers.target
