[Unit]
Description=Hyprpaper Wallpaper Service
After=graphical-session.target
Wants=graphical-session.target

[Service]
Type=simple
ExecStart=/usr/bin/hyprpaper
Restart=on-failure
RestartSec=3

[Install]
WantedBy=graphical-session.target
